@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #1e1d2b;
}

h1{
    color: #ff702a;
    font-size: 6rem;
}

.nave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    padding-left: 60px;
}

.aMenu{
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0px 30px;
    transition: 0.4s;
}

.navTarget, .cerrar-menu{
    display: none;
    cursor: pointer;
    order: 1;
}

.aMenu:hover{
    background-color: #469778;
}

#home{
    padding: 10px 80px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
#home div{
    margin: 50px;
    padding: 50px;
    font-size: 1.7rem;
}
#home p{
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
}
#home img{
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.boton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #ff702a;
    transition: 0.4s;    
    margin-top: 40px;
}
.boton:hover{
    transform: scale(1.05);
}

#about,#contact{
    padding: 80px 180px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
#about div{
    padding: 50px 100px;
    font-size: 1.7rem;
}
h2{
    color: #fff;
    font-weight: 500;
}
#about p{
    color: #fff;
    margin-top: 20px;
}
#about img{
    max-width: 500px;
    width: 100%;
    height: 100%;   
}

#food,#service,#learn{
    text-align: center;
    font-size: 1.7rem;
    padding: 50px 180px;
}
.items-1{
    display: flex;
    justify-content: space-around;
}
.item-1{
    margin: 50px;
    padding: 20px 60px;
    background-color: #ffefe8;
    text-align: center;
    position: relative;
}
.title{
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
}
.cost{
    background-color: transparent;
    color: #ff702a;
    font-weight: bold;
}
#food h3, #service h3{
    color: #ff702a;
    font-weight: normal;
}
#food div{
    padding: 30px;
    padding-top: 0;

}
#food img{
    max-width: 500px;
    width: 100%;
}
.items-2,.items-3{
    display: flex;
    justify-content: space-around;
}
#food i{
    background-color: #ff702a;
    padding: 0;
    width:fit-content;
    height: 27.2px;    
}
#food .icon{
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.item-2{
    margin: 50px 0px;
    text-align: center;
}
#service img{
    max-width: 250px;
    width: 40%;
}
.s1{
    color: #ff702a;
    font-weight: normal;
}
.t1{
    color: #fff;
    font-size: 1.2rem;
}
.box-learn{
    background-color: #ffefe8;
    padding: 5% 25%;
}
#learn h2{
    color: #000;
}

a,.s2{
    text-decoration: none;
    color: #fff;   
}
.hrMenu{
    width: 30%; 
    border: 1px solid #ff702a;
}
.item-3{
    margin: 50px 0px;
    text-align: left;
    padding: 20px;
}
.t2{
    color: #fff;
    font-size: 1.5rem;
}
.items-4{
    display: flex;
}
.item-4 i{
    background-color: #ff702a;
    border-radius: 50%;
    padding: 3px;
    margin: 3px;
}


@media (max-width: 800px){
    .navTarget{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c2b47;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 100px;
        z-index: 1;        
        clip-path: circle(0% at top right);
        transition: clip-path 0.6s;
    }
    .menu:target{
        clip-path: circle(150% at top right);
    }
    #home h1{
        font-size: 3rem;
    }
    #home div{
        padding: 5px;
        margin: 0;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .cerrar-menu{      
        position: absolute;
        top: 0px;
        right: 0px;
    }

    #home{
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #about{
        align-items: center;
        padding: 5px;
        text-align: center;
        flex-direction: column-reverse;

    }
    #about h2{
        font-weight: 300;
    }
    #about div{
        padding: 5px;
    }

    #about p{
        padding: 0;
        font-size: 20px;
    }
    .boton{
        font-size: 20x;
    }
    #food,#service,#learn,#contact{
        align-items: center;
        padding: 10px;
    }
    .items-1, .items-2, .items-3{
        flex-direction: column;
    }
    .item-1{
        padding: 0;
        margin: 20px 50px;
    }
    #learn{
        margin: 10px;
    }
    .item-3{
        margin: 0;
    }
    .items-3{
        align-items: start;
    }
}